<!DOCTYPE html>
{% load static %}

<html>

<head>

    <title>KLAP</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="navbar">

    <a href="/" class="logo">
    KLAP
    </a>

    <div class="nav-links">

        <a href="#features">Features</a>

        <a href="#how">How It Works</a>

        <a href="#about">About Us</a>

        <a href="#contact">Contact</a>

    </div>

    <div class="nav-actions">

        {% if user.is_authenticated %}

            <a href="/logout/" class="btn outline">
                Logout
            </a>

        {% else %}

            <a href="/login/" class="btn outline">
                Login
            </a>

            <a href="/register/" class="btn primary">
                Register
            </a>

        {% endif %}

    </div>

</div>

{% block content %}
{% endblock %}

</body>
</html>

